<div class="entry-header header-big">
  <div class="header-left-box">
    <a target="_blank" rel="noopener noreferrer" class="header-brand" href="https://github.com/cjwbeyond/ZeroPACS">
      <svg name="ohif-logo" class="header-logo-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 47" width="1em"
           height="1em" stroke="currentColor" fill="none" stroke-width="2.5"><title>OHIF Logo</title>
        <rect x="1.25" y="1.25" width="18.8" height="18.8" rx="1" ry="1"></rect>
        <rect x="26" y="1.25" width="18.8" height="18.8" rx="1" ry="1"></rect>
        <rect x="1.25" y="26" width="18.8" height="18.8" rx="1" ry="1"></rect>
        <rect x="26" y="26" width="18.8" height="18.8" rx="1" ry="1"></rect>
      </svg>
      ZeroPACS
    </a>
  </div>
  <div class="header-menu"><span class="research-use">INVESTIGATIONAL USE ONLY</span>
    <div class="dd-menu" data-cy="options-menu">
      <div class="dd-menu-toggle"><span class="dd-title">Options</span><span class="dd-caret-down"></span></div>
    </div>
  </div>
</div>
