.table {
  .mrn {
    color: rgb(96, 101, 111);
  }

  .name {
    min-height: 20px;
  }

  .modality-wrap {
    max-width: 80px;
    width: 80px;
    color: #fff;
    font-weight: 300;

    .modality {
      font-weight: 500;
      min-height: 20px;
    }
  }

  .thead-dark {
    th {
      line-height: 36px;
      background: transparent;
      font-weight: 300;
    }
  }
}
