<div class="study-list-container">
  <table class="table table--striped table--hoverable">
    <colgroup>
      <col style="width: 27.7778%;">
      <col style="width: 38.8889%;">
      <col style="width: 33.3333%;">
    </colgroup>
    <thead class="table-head">
    <tr class="filters">
      <th><label for="filter-patientNameOrId">Patient / MRN
        <svg name="sort" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="1em" height="1em"
             fill="currentColor" style="font-size: 12px;"><title>Sort</title>
          <path
            d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z"></path>
        </svg>
      </label><input type="text" id="filter-patientNameOrId" class="form-control studylist-search" value=""></th>
      <th><label for="filter-accessionOrModalityOrDescription">Description
        <svg name="sort" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="1em" height="1em"
             fill="currentColor" style="font-size: 12px;"><title>Sort</title>
          <path
            d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z"></path>
        </svg>
      </label><input type="text" id="filter-accessionOrModalityOrDescription" class="form-control studylist-search"
                     value=""></th>
      <th><label>Study Date</label>
      </th>
    </tr>
    </thead>
    <tbody class="table-body" data-cy="study-list-results">
    <tr class="">
      <td class="">ACRIN-NSCLC-FDG-PET-042
        <div style="color: rgb(96, 101, 111);">ACRIN-NSCLC-FDG-PET-042</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">WB PET/CT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT" title="CT\PT">CT\PT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Jan 16, 1960</td>
    </tr>
    <tr class="">
      <td class="">ACRIN-NSCLC-FDG-PET-042
        <div style="color: rgb(96, 101, 111);">ACRIN-NSCLC-FDG-PET-042</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">LUNG DELAYS</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT" title="CT\PT">CT\PT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Jan 16, 1960</td>
    </tr>
    <tr class="">
      <td class="">ACRIN-NSCLC-FDG-PET-042
        <div style="color: rgb(96, 101, 111);">ACRIN-NSCLC-FDG-PET-042</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">CT THORAX ENHANCED</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Sep 10, 1960</td>
    </tr>
    <tr class="">
      <td class="">ACRIN-NSCLC-FDG-PET-042
        <div style="color: rgb(96, 101, 111);">ACRIN-NSCLC-FDG-PET-042</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">WB PET/CT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT" title="CT\PT">CT\PT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Jun 24, 1960</td>
    </tr>
    <tr class="">
      <td class="">ACRIN-NSCLC-FDG-PET-042
        <div style="color: rgb(96, 101, 111);">ACRIN-NSCLC-FDG-PET-042</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">CT THORAX ENHANCE</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 13, 1959</td>
    </tr>
    <tr class="">
      <td class="">ACRIN-NSCLC-FDG-PET-042
        <div style="color: rgb(96, 101, 111);">ACRIN-NSCLC-FDG-PET-042</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">LUNG DELAYS</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT" title="CT\PT">CT\PT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Jun 24, 1960</td>
    </tr>
    <tr class="">
      <td class="">Bellona
        <div style="color: rgb(96, 101, 111);">0000006</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">CT CHEST W CONTRAST</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="0000481914" title="0000481914"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">0000481914
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Oct 26, 2015</td>
    </tr>
    <tr class="">
      <td class="">Juno
        <div style="color: rgb(96, 101, 111);">0000003</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">PETCT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT" title="CT\PT">CT\PT</div>
            <div aria-label="0000155811" title="0000155811"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">0000155811
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 12, 2014</td>
    </tr>
    <tr class="">
      <td class="">Juno
        <div style="color: rgb(96, 101, 111);">0000003</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">PETCT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT" title="CT\PT">CT\PT</div>
            <div aria-label="000015587" title="000015587"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">000015587
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Aug 05, 2014</td>
    </tr>
    <tr class="">
      <td class="">Neptune
        <div style="color: rgb(96, 101, 111);">0000002</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">DFCI CT CHEST W CONTRAST 6023</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="000041571" title="000041571"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">000041571
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Mar 25, 2014</td>
    </tr>
    <tr class="">
      <td class="">Neptune
        <div style="color: rgb(96, 101, 111);">0000002</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">DFCI CT CHEST W CONTRAST 6023</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="000041579" title="000041579"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">000041579
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Sep 30, 2014</td>
    </tr>
    <tr class="">
      <td class="">Neptune
        <div style="color: rgb(96, 101, 111);">0000002</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">DFCI CT CHEST W CONTRAST 6023</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="000041576" title="000041576"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">000041576
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">May 22, 2014</td>
    </tr>
    <tr class="">
      <td class="">PD-1-Lung-00013
        <div style="color: rgb(96, 101, 111);">PD-1-Lung-00013</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">CT CHEST W CONTRAST</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="" title="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"></div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Feb 24, 2009</td>
    </tr>
    <tr class="">
      <td class="">Patient^Anonymous
        <div style="color: rgb(96, 101, 111);">12345678</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">Neck^HeadNeckPETCT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="00000001" title="00000001"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">00000001
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">May 10, 2010</td>
    </tr>
    <tr class="">
      <td class="">PixelMed^AperioCMU-1
        <div style="color: rgb(96, 101, 111);">PX7832548325932</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="S07-100" title="S07-100"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">S07-100
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 29, 2009</td>
    </tr>
    <tr class="">
      <td class="">PixelMed^AperioCMU-1
        <div style="color: rgb(96, 101, 111);">PX7832548325932</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="S07-100" title="S07-100"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">S07-100
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 29, 2009</td>
    </tr>
    <tr class="">
      <td class="">PixelMed^AperioCMU-1
        <div style="color: rgb(96, 101, 111);">PX7832548325932</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="S07-100" title="S07-100"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">S07-100
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 29, 2009</td>
    </tr>
    <tr class="">
      <td class="">PixelMed^AperioCMU-1
        <div style="color: rgb(96, 101, 111);">PX7832548325932</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="S07-100" title="S07-100"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">S07-100
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 29, 2009</td>
    </tr>
    <tr class="">
      <td class="">QIN-HEADNECK-01-0024
        <div style="color: rgb(96, 101, 111);">QIN-HEADNECK-01-0024</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">Thorax^1HEAD_NECK_PETCT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="PT" title="PT">PT</div>
            <div aria-label="2076699673350889" title="2076699673350889"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">2076699673350889
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Aug 10, 1986</td>
    </tr>
    <tr class="">
      <td class="">TCGA-B8-5550
        <div style="color: rgb(96, 101, 111);">TCGA-B8-5550</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">CT RENAL Mass</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\SR" title="CT\SR">CT\SR</div>
            <div aria-label="2962533717415592" title="2962533717415592"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">2962533717415592
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Mar 10, 2004</td>
    </tr>
    <tr class="">
      <td class="empty-value">(Empty)
        <div style="color: rgb(96, 101, 111);">PID_666</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="2017092101" title="2017092101"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">2017092101
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Feb 27, 2018</td>
    </tr>
    <tr class="">
      <td class="empty-value">(Empty)
        <div style="color: rgb(96, 101, 111);">PID_47110815</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="2015031201" title="2015031201"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">2015031201
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Feb 27, 2018</td>
    </tr>
    <tr class="">
      <td class="">PixelMed^AperioCMU-1
        <div style="color: rgb(96, 101, 111);">PX7832548325932</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;"></div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="SM" title="SM">SM</div>
            <div aria-label="S07-100" title="S07-100"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">S07-100
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Dec 29, 2009</td>
    </tr>
    <tr class="">
      <td class="">QIN-HEADNECK-01-0003
        <div style="color: rgb(96, 101, 111);">QIN-HEADNECK-01-0003</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">Thorax^1HEAD_NECK_PETCT</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT\PT\SR" title="CT\PT\SR">CT\PT\SR</div>
            <div aria-label="2076699673350889" title="2076699673350889"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">2076699673350889
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Mar 11, 1986</td>
    </tr>
    <tr class="">
      <td class="">Venus
        <div style="color: rgb(96, 101, 111);">0000005</div>
      </td>
      <td>
        <div style="display: flex; justify-content: space-between;">
          <div class="hide-xs" style="white-space: pre-wrap; flex-grow: 1;">DFCI CT CHEST W CONTRAST 6023</div>
          <div style="display: flex; flex-direction: column; max-width: 80px; width: 80px;">
            <div class="modalities" aria-label="CT" title="CT">CT</div>
            <div aria-label="0000922113" title="0000922113"
                 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">0000922113
            </div>
          </div>
        </div>
      </td>
      <td style="text-align: center;">Feb 24, 2015</td>
    </tr>
    </tbody>
  </table>
  <div class="pagination-area">
    <div class="rows-dropdown">
      <div class="form-inline form-group rows-per-page"><span>Show</span><select>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25" selected="">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select><span>rows per page</span></div>
    </div>
    <div class="pagination-buttons">
      <div class="form-inline form-group page-number pull-right">
        <div class="form-inline form-group page-buttons noselect">
          <ul class="pagination-control no-margins">
            <li class="page-item prev">
              <button disabled="" class="btn page-link">Previous</button>
            </li>
            <li class="page-item next">
              <button class="btn page-link">Next</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
