<div class="container-fluid px-5">

  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <colgroup>
          <col style="width: 27%;">
          <col style="width: 38%;">
          <col>
        </colgroup>
        <thead class="thead-dark">
        <tr class="sortable">
          <th sortable="name" (sort)="onSort($event)">Patient / MRN</th>
          <th sortable="device" (sort)="onSort($event)">Device</th>
          <th class="text-center">Study Date</th>
        </tr>
        </thead>
        <tbody class="study-list">
        <tr *ngFor="let s of studies" (dblclick)="handleClick(s.StudyInstanceUID)">
          <td>
            <div class="name">{{s.PatientName}}</div>
            <div class="mrn">{{s.PatientID}}</div>
          </td>
          <td>
            <div class="d-flex justify-content-between">
              <div class="hide-xs">{{s.StudyDescription}}</div>
              <div class="flex-column modality-wrap">
                <div class="modality" [title]="s.modalities">{{s.modalities}}</div>
                <div [title]="s.AccessionNumber" class="text-nowrap">{{s.AccessionNumber}}</div>
              </div>
            </div>
          </td>
          <td class="text-center align-middle">{{s.StudyDate}}</td>
        </tr>
        </tbody>
      </table>
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-5">
          <div aria-live="polite" class="dataTables_info mb-2" id="tickets-table_info"
               role="status">Showing 1 to 10 of 70 entries
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="text-md-right float-md-right pagination-rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
